<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Ende</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
            background: {{ background }};
            color: {{ text_color }};
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .message-box {
            max-width: 70vw;
            padding: 40px;
            font-size: 2em;
            line-height: 1.6em;
        }
    </style>
</head>
<body>
    <div class="message-box">
        {{ message }}
    </div>
</body>
<script>
  history.replaceState(null, "", window.location.href);
  window.addEventListener("popstate", function () {
    location.replace(window.location.href);
  });
</script>
</html>